polkit.addRule(function(action, subject) {
    if (action.id.match("org.freedesktop.systemd1.manage-units") &&
    subject.user === "day") {
    return polkit.Result.YES;
    }
});
