# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            ident
host    all             all             {{ replica_ip_add }}/32 trust
host    all             all             {{ backup_ip_add }}/32  trust
# IPv6 local connections:
host    all             all             ::1/128                 ident
# Allow replication connections from localhost, by a user with the
# replication privilege.
host    replication  {{ replica_username}}  {{ replica_ip_add }}/32 trust
host    replication  {{ barman_stream }}    {{ backup_ip_add }}/32  trust
host    replication  {{ barman_username }}  {{ backup_ip_add }}/32  trust
host    replication     all             127.0.0.1/32            ident
host    replication     all             ::1/128                 ident
